#inner-app-content {
    padding-top: 0 !important;
}
#map-loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    z-index:1100;
}

#map-loading img {
    z-index: 10000;
}

#map_view_outer_container {
    margin-top: 105px;
    height: calc(60% - 105px) !important;
    position: relative;
}

#plot-loading {
    right: 0;
    left: 0;
    z-index: 1200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    height: 250px;
}

#plot-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(40% - 105px);
}

#app-content-wrapper.show-nav .flash-messages .alert {
    margin-right: 300px;
}

#top-info-container {
    position: absolute;
    z-index: 1100;
    width: 100%;
}

.flash-messages .alert {
    width: auto;
}

/* .ol-viewport {
    position:relative;
    /* margin-top: 50px; 
} */

.option-viewData, .option-uploadToHS {
    background: #5971A8;
    padding: 2px;
    margin: 1px;
    text-align: center;
    color: white;
}

.option-viewData:hover, .option-uploadToHS:hover {
    background: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

#app-content-wrapper.show-nav .flash-messages .alert {
    margin-right: 300px;
}


.alert {
    margin-bottom: 0;
}
#resetPage {
    cursor: pointer;
}
#app-actions {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
#png-data-rods {
    flex: 0 1 auto;
    width: 65px;
}
#nasaRequestOutput {
    flex: 0 1 auto;
    font-size: 8pt;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item {
    padding: 0!important;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .btn-legend-action {
    font-size: 8pt;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .tethys-legend-dropdown.open {
    font-size: 8pt;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-dropdown-toggle {
    position: absolute;
    right: 5px;
}
.highcharts-axis:last-child text {
    transform: matrix3d(0,-1,0.00,0,1.00,0,0.00,0,0,0,1,0,-100,135,0,1);
}

.form-control {
    width:100%;
}

.btn-plot {
    margin-top:10px;
}

.dropdown-menu {
    z-index:1300;
}

.dropdown {
    margin-top: 15px;
    margin-bottom: 15px;
}